<div>
    <% unless @friends.nil? %>
        <% @friends.each do |friend| %>
            <%= link_to friend.email, friend %> 
            
        <% end %>
    <% else %>
        I'm so sorry to be the one to tell you, but you don't have any friends =( 
    <%end %>
</div>