<div class = 'card'>
    <p class = 'title is-6'>Your Friends</p>
    <% unless @friends.nil? %>
        <% @friends.each do |friend| %>
        <div class = 'card-content'>
            <% unless friend.name.nil? %>
                <%= link_to friend.name, friend %>
            <% else %>
                <%= link_to friend.email, friend %> 
            <% end %>
        </div>
        <% end %>
    <% else %>
        I'm so sorry to be the one to tell you, but you don't have any friends =( 
    <%end %>
</div>